{% extends "admin/core/base.html" %}
{% load static from staticfiles %}

{% block title %}Article Export{% endblock %}

{% block body %}
<div class="large-12 columns">
    <div class="box">
        <div class="title-area">
            <h2>Article Import, Export, Update</h2>
        </div>
        <div class="content">
            <div class="row expanded">
                <div class="large-3 columns">
                    <form method="GET">
                         <select name="element" onchange="this.form.submit()">
                            <option value="">- Filter by Stage -</option>
                            {% for element in request.journal.workflow.elements.all %}
                            <option value="{{ element.stage }}"{% if selected_element == element.stage  %} selected{% endif %}>{{ element.element_name|capfirst }}</option>
                            {% endfor %}
                            <option value="Published"{% if selected_element == 'Published'  %} selected{% endif %}>Published</option>
                            <option value="Rejected"{% if selected_element == 'Rejected'  %} selected{% endif %}>Rejected</option>
                        </select>
                    </form>
                </div>
                <div class="large-2 columns">
                    {% if selected_element %}<a class="button" href="{% url 'import_export_articles_all' %}">Clear Filter</a>{% endif %}
                </div>
                <div class="large-2 columns">
                    <form method="POST">
                        {% csrf_token %}
                        <button name="export_all" class="button">Export Articles</button>
                    </form>
                </div>
                <div class="large-2 columns end">
                    <a href="#" data-open="upload_update" class="button">Upload Update</a>
                </div>
            </div>

            <table class="small scroll" id="unassigned">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th style="width: 25%">Title</th>
                        <th>Stage</th>
                        <th>Submitted</th>
                        <th>Main Author</th>
                        <th>Editors</th>
                        <th>Section</th>
                        <th>Projected Issue</th>
                        <th>Files</th>
                        <th>Edit Metadata</th>
                        <th>Archive</th>
                        <th>Export CSV</th>
                        <th>Export HTML</th>
                    </tr>
                </thead>
                <tbody>
                    {% for article in articles_in_stage %}
                    <tr>
                        <td>{{ article.pk }}</td>
                        <td>
                            {% if article.stage != 'Rejected' and article.stage != 'Published' %}
                            <a href="{{ article.current_workflow_element_url }}" target="_blank">{{ article.title|safe }}</a>
                            {% else %}
                             <a href="{% url 'manage_archive_article' article.pk %}" target="_blank">{{ article.title|safe }}</a>
                            {% endif %}
                        </td>
                        <td>
                            {{ article.stage }}
                        </td>
                        <td>{{ article.date_submitted }}</td>
                        <td>{{ article.correspondence_author.full_name }}</td>
                        <td>{% for editor in article.editors %}{{ editor.editor.full_name }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
                        <td>{{ article.section.name }}</td>
                        <td>{{ article.projected_issue }} <a target="_blank" href="{% url 'review_projected_issue' article.pk %}"><span class="fa fa-edit"></span></a></td>
                        <td><a href="#" data-open="file-modal-{{ article.pk }}" class="tiny secondary button"><span class="fa fa-file"></span></a></td>
                        <td><a target="_blank" class="tiny secondary button" href="{% url 'edit_metadata' article.pk %}"><span class="fa fa-edit"></span></a></td>
                        <td><a target="_blank" class="tiny secondary button" href="{% url 'manage_archive_article' article.pk %}"><span class="fa fa-sticky-note"></span></a></td>
                        <td>
                            <a class="tiny secondary button" href="{% url 'import_export_article' article.pk 'csv' %}?in_stage=false"><span class="fa fa-download"></span> </a>
                        </td>
                        <td>
                             <a class="tiny secondary button" href="{% url 'import_export_article' article.pk 'html' %}?in_stage=false"><span class="fa fa-download"></span> </a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="10">No articles in this stage</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% for article in articles_in_stage %}
<div class="reveal large" id="file-modal-{{ article.pk }}" data-reveal data-animation-in="slide-in-up"
     data-animation-out="slide-out-down">
    <div class="card">
        <div class="card-divider">
            <h4>Article Files</h4>
        </div>
        <div class="card-section">
            <button class="close-button" data-close aria-label="Close reveal" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
            <p>Select the export files for {{ article.title|safe }}. When you run an export these files will be included in the zip file.</p>
                    <table class="table small">
                <tr>
                    <th>Type</th>
                    <th>Label</th>
                    <th>Original Filename</th>
                    <th>Date</th>
                </tr>
                {% for export_file in article.export_files %}
                    <tr>
                        <td>{{ export_file.file.label }}</td>
                        <td>{{ export_file.file.original_filename }}</td>
                        <td>{{ export_file.file.date_uploaded }}</td>
                        <td>
                            <button id="add-{{ export_file.file.pk }}" style="display: none" class="tiny success button" onclick="add_export_file({{ request.journal.pk }}, {{ export_file.article.pk }}, {{ export_file.file.pk }})">Add File</button>
                            <button id="remove-{{ export_file.file.pk }}" data-export_file="{{ export_file.pk }}" class="tiny alert button" onclick="remove_export_file(this, {{ export_file.file.pk }})">Remove File</button>
                        </td>
                    </tr>
                {% endfor %}
                {% for file in article.manuscript_files.all %}
                    {% include "import/elements/file_row.html" %}
                {% endfor %}
                {% for galley in article.galley_set.all %}
                    {% include "import/elements/file_row.html" with file=galley.file from="Typeset File" %}
                {% endfor %}
                {% for file in article.proofing_files %}
                    {% include "import/elements/file_row.html" with from="Proofreader File" %}
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endfor %}
    <div class="reveal large" id="upload_update" data-reveal data-animation-in="slide-in-up"
         data-animation-out="slide-out-down">
        <div class="card">
            <div class="card-divider">
                <h4>Upload Update</h4>
            </div>
						<div class="card-section">
               <button class="close-button" data-close aria-label="Close reveal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <form method="POST" action="{% url 'imports_load' %}?type=update" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input name="file" type="file">
                    <button class="success button">
                        <span class="fa fa-upload">&nbsp;</span>Upload
                    </button>
                </form>
           </div>
        </div>
    </div>
{% endblock body %}

{% block js %}
{% include "elements/datatables.html" with target="#unassigned" %}
    <script src="{% static "admin/js/csrf.js" %}"></script>
    <script type="text/javascript">
        function remove_export_file(button, file_id) {
            export_file_id = button.dataset.export_file;
            var data = {
                'pk': export_file_id,
            }
            $.ajax({
                "type": "DELETE",
                "dataType": "json",
                "url": "{% url 'exportfile-list' %}" + export_file_id + "/",
                "data": data,
                "success": function (data) {
                    toastr.success("File Removed.")
                    $("#remove-" + file_id).hide();
                    $("#add-" + file_id).show();
                },
                "error": function (xhr, status, error) {
                    toastr.error(xhr.responseText)
                },
            })
        }
        function add_export_file(journal_id, article_id, file_id) {
            var data = {
                'file': file_id,
                'article': article_id,
                'journal': journal_id
            };
            $.ajax({
                "type": "POST",
                "dataType": "json",
                "url": "{% url 'exportfile-list' %}",
                "data": data,
                "success": function(xhr, status) {
                    console.log(xhr.id);
                    console.log(status)
                    toastr.success('File added for article.', { timeOut: 500 })
                    $("#remove-" + file_id).show();
                    $("#add-" + file_id).hide();
                    $("#remove-" + file_id).attr('data-export_file', xhr.id);
                },
                "error": function (xhr, status, error) {
                    toastr.error(xhr.responseText)
                },
            })
        }
    </script>
{% endblock js %}
