{% extends "admin/core/base.html" %}

{% block title %}Imports Plugin{% endblock %}
{% block title-section %}Imports Plugin{% endblock %}
{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url 'imports_index' %}">Import Plugin</a></li>
    <li><a href="{% url 'imports_load' %}">Editorial Loading</a></li>
{% endblock %}

{% block body %}

    <div class="box">
        <div class="title-area">
            <h2>Processing {{ filename }}</h2>
        </div>
        <div class="content">
            <table>
                {% include "import/reader_element.html" with reader=reader %}
            </table>
            <form method="POST">
                {% csrf_token %}
                <button name="submit" class="button">Import</button>
            </form>
        </div>
    </div>

{% endblock %}