{% extends "admin/core/base.html" %}

{% block title %}Imports Plugin{% endblock %}
{% block title-section %}Imports Plugin{% endblock %}
{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url 'imports_index' %}">Import Plugin</a></li>
    <li>Editorial Loading</li>
{% endblock %}

{% block body %}

    <div class="box">
        <div class="title-area">
            <h2>Select CSV for Import</h2>
        </div>
        <div class="content">
            {% if type == 'editorial' %}
                {% include "import/elements/editorial_description.html" %}
            {% elif type == 'contacts' %}
                {% include "import/elements/contacts_description.html" %}
            {% elif type == 'reviewers' %}
                {% include "import/elements/reviewers_description.html" %}
            {% elif type == 'editors' %}
                {% include "import/elements/editors_description.html" %}
            {% elif type == 'submission' %}
                {% include "import/elements/submission_description.html" %}
            {% elif type == 'article-reviews' %}
                {% include "import/elements/article_review_description.html" %}
            {% endif %}

            <p>Examples and documentation can be found on the <a href="https://janeway-imports.readthedocs.io/en/latest/">Janeway Imports Documentation</a> site.</p>

            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="file">
                {% if type == 'editors' or type == 'reviewers' %}
                <br>
                <input type="checkbox" name="reset-passwords" id="reset-passwords"> <label for="reset-passwords" class="toggle">Reset users' passwords (they will receive a password reset email) </label>
                <br>
                {% endif %}
                <button class="button"><i class="fa fa-upload"></i> Upload</button>
            </form>

        </div>
    </div>

{% endblock %}
