{% extends "admin/core/base.html" %}

{% block title %}Imports Plugin{% endblock %}
{% block title-section %}Imports Plugin{% endblock %}
{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url 'imports_index' %}">Import Plugin</a></li>
    <li><a href="{% url 'imports_load' %}">Editorial Loading</a></li>
{% endblock %}

{% block body %}

    {% if errors %}
    <div class="box">
        <div class="title-area">
            <h2>Errors found</h2>
        </div>
            {% if error_file %}
                <p><a class="button alert" href="{% url 'imports_failed_rows' error_file %}"><span class="fa fa-download"></span> Download CSV with failed rows</a></p>
            {% endif %}
              {% for line_no, error in errors.items %}
              <div class="callout alert"><p>Line {{ line_no }}: {{ error }}</p></div>
              {% endfor %}
        </div>
    </div>
    {% endif %}

    <div class="box">
        <div class="title-area">
            <h2>Processing {{ filename }}</h2>
        </div>
        <div class="content">
            <table>
                {% include "import/reader_element.html" with reader=reader %}
            </table>
            {% if not errors %}
            <form method="POST">
                {% csrf_token %}
                <button name="submit" class="button">Import</button>
            </form>
            {% endif %}
        </div>
    </div>

{% endblock %}
