{% extends "admin/core/base.html" %}

{% block title %}Imports Plugin{% endblock %}
{% block title-section %}Imports Plugin{% endblock %}
{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url 'imports_index' %}">Import Plugin</a></li>
{% endblock %}

{% block body %}

    <div class="box">
        <div class="title-area">
            <h2>Select an Import Type</h2>
        </div>
        <div class="content">
            <p><strong>Please be aware that these import scripts are for advanced users as they are unrefined and
                raw.</strong></p>
            <ul class="accordion" data-accordion data-allow-all-closed="true">
                <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">Editorial Team Import</a>
                    <div class="accordion-content" data-tab-content>
                        <p>This import script allows you to pull in your editorial team from a CSV file.
                            It is meant to be used for populating the editorial team page of the journal but it does
                            not grant any roles. For that, see the 'Editors Import' menu below.
                            It should have the following format:</p>
                        <p>salutation, firstname, middlename, lastname, email_address, department, institution, country</p>
                        <p>Here is an example line from a dummy csv:<br/>
                            Prof, Martin,Paul,Eve,mpeve@voyager.com,Science,USS Voyager,UK</p>
                        <a href="{% url 'imports_load' %}?type=editorial" class="button">Start Import</a>
                    </div>
                </li>
                <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">Reviewers Import</a>
                    <div class="accordion-content" data-tab-content>
                        <p>This import script allows you to import your pool of reviewers from a CSV file with the following structure:</p>
                        <p>Salutation firstname, middlename, lastname, email_address, department, institution, country</p>
                        <p>Here is an example line from a dummy csv:<br/>
                            Prof, Martin,Paul,Eve,mpeve@voyager.com,Science,USS Voyager,UK,'Humanities; Open Access'</p>
                        <a href="{% url 'imports_load' %}?type=reviewers" class="button">Start Import</a>
                    </div>
                </li>
                <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">Editors Import</a>
                    <div class="accordion-content" data-tab-content>
                        <p>This import script allows you to import your pool of editors from a CSV file with the following structure:</p>
                        <p>Salutation firstname, middlename, lastname, email_address, department, institution, country</p>
                        <p>Here is an example line from a dummy csv:<br/>
                            Prof, Martin,Paul,Eve,mpeve@voyager.com,Science,USS Voyager,UK</p>
                        <a href="{% url 'imports_load' %}?type=editors" class="button">Start Import</a>
                    </div>
                </li>

                <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">Journal Contacts</a>
                    <div class="accordion-content" data-tab-content>
                        <p>This import script allows you to pull in your journal contacts from a CSV file. It should
                            have the following format:</p>
                        <p>name, email_address, role</p>
                        <p>Here is an example line from a dummy csv:<br/>
                            Andy Byers,ajrb@voyager.com,Chief Engineer</p>
                        <a href="{% url 'imports_load' %}?type=contacts" class="button">Start Import</a>
                    </div>
                </li>

                <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">Copyright, Submission, Publication Fees & Reviewer
                        Guidelines</a>
                    <div class="accordion-content" data-tab-content>
                        <p>This import script allows you to update journal copyright notice, submission checklist,
                            publication fee and reviewer guidelines in one go:</p>
                        <p>journal_code, copyright_notice, submission_checklist, publication_fees,
                            reviewer_guidelines</p>
                        <a href="{% url 'imports_load' %}?type=submission" class="button">Start Import</a>
                    </div>
                </li>

								<!-- The following importer is deprecated in Janeway 1.4.1-->
                <li class="accordion-item" style="display: none;" data-accordion-item>
                    <a href="#" class="accordion-title">Article Metadata</a>
                    <div class="accordion-content" data-tab-content>
                        <p>This import script allows you to insert article metadata from a source CSV file with the
                            following structure:</p>
                        <p><tt>{{ article_metadata_headers }} </tt></p>
                        <p>Notes:
                          <ul>
                            <li>Date/time fields must be <a href="https://en.wikipedia.org/wiki/ISO_8601">ISO 8601</a> compliant</li>
                            <li>Files must be declared as file URIs and point to a location readable by Janeway</li>
                            <li>The figures file URI is expected to point to a zip file with all the article figures matching their names on the HTML/XML galleys.</li>
                         </ul>
                        </p>
                        <p>Example:</p>
                        <p><tt>{{ mauro }}</tt>
                        <p>
                        <p>If an article is associated with more than one author, rows for the additional authors don't
                            require the redundant metadata (apart from the article id) all the rows below would be
                            valid:
                            <p><tt>{{ mauro }}</tt>
                        <p>
                        <p><tt>{{ andy }}</tt>
                        <p>
                        <p><tt>{{ martin }}</tt>
                        <p>Corporate authors only require the 'Institution' column as well as flagging the 'Is Corporate' column with <tt>Y</tt>:</p>
                        <p><tt>1,,,,,,,,,,,,,Center for Tecnology and publishing at Birkbeck,,Y</tt>
                        <p>
                          <a class="button success" href="{% url 'imports_csv_example' %}">Download Example CSV</a>
                          <a href="{% url 'imports_load' %}?type=article_metadata" class="button">Start Import</a>
                    </div>
                </li>
                <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">Article Reviews Import</a>
                    <div class="accordion-content" data-tab-content>
                        <p>This script allows you to upload article peer-reviews from CSV file with the following structure:</p>
                        <p>Identifier type, Identifier, Reviewwer Email, Editor Email, Review Round Number, Review Recommendation, Review Body, Review Filename, Date Assigned, Date Accepted/Started, Date completed, visibility</p>
                        <p>Here are some example rows<br/>
                            id,1231,reviewer@noemail.com,editor@noemail.com,1,major_revisions,review text,1231/peer reviews/rev_1_1231.docx,2022-02-07,2022-02-08,2022-02-17,double-blind<br />
                            ojs_id,142,other.reviewer@noemail.com,other.editor@noemail.com,1,minor_revisions, here is some ohter review text,142/peer reviews/rev.docx,2022-02-07,2022-02-09,2022-03-01,single-blind
                        </p>

                        <a href="{% url 'imports_load' %}?type=article-reviews" class="button">Start Import</a>
                    </div>
                </li>

                <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">Article Import, Export, Update</a>
										<div class="accordion-content" data-tab-content>
												<p>This tool is documented here: <a href="https://janeway.readthedocs.io/en/latest/imports.html">Janeway Imports Documentation</a></p>
                        <a href="{% url 'imports_load' %}?type=update" class="button">Start Import/Update</a>
                        <a href="{% url 'import_export_articles_all' %}" class="button">View All Articles</a>
                    </div>
                </li>

                <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">Default Review Form</a>
                    <div class="accordion-content" data-tab-content>
                        <p>This script isn't so much an import, but it will generate a basic review form for each active
                            journal that does not have one already.</p>
                        <a href="{% url 'imports_review_forms' %}" class="button">Start Import</a>
                    </div>
                </li>

                <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">Bulk Load Favicon</a>
                    <div class="accordion-content" data-tab-content>
                        <p>Allows you to import one Favicon and load it to selected journals in one go.</p>
                        <a href="{% url 'imports_favicon' %}" class="button">Start Import</a>
                    </div>
                </li>

                <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">Article Images</a>
                    <div class="accordion-content" data-tab-content>
                        <p>Allows you to supply a URL for an image, Janeway will download and mark it as the articles
                            large image file.</p>
                        <p>CSV format: id_type,id,url</p>
                        <p>id,12,https://unsplash.com/photos/A8iLzX6OddM/download?force=true</p>
                        <p>You <b>MUST</b> ensure you have a license to download the image, we recommend Unsplash, where
                            Images are licensed similar to CC0. The URL <b>MUST</b> be directly to the image, not the
                            landing page. On Unsplash you can get this
                            by right clicking on the "Download free" button and selecting "Copy link address".</p>
                        <a href="{% url 'imports_article_images' %}" class="button">Start Import</a>
                    </div>
                </li>
                <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">JATS Import</a>
                    <div class="accordion-content" data-tab-content>
                        <p>You can upload a single article from a JATS XML file or a ZIP containing multiple JATS files and corresponding Figure files.</p>
                        <a href="{% url 'imports_jats' %}" class="button">Start an Import</a>
                    </div>
                </li>

                <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">Wordpress Import</a>
                    <div class="accordion-content" data-tab-content>
                        <p>Provide a URL, username and password and Janeway can import posts from a Wordpress site into its News system.</p>
                        <a href="{% url 'wordpress_xmlrpc_import' %}" class="button">Start Import</a>
                    </div>
                </li>

            </ul>
        </div>
    </div>

{% endblock %}
