{% load humanize_text %}
{% load row_identifier %}
{% load dict %}

{% if type == 'update' %}
    <tr>
        <th>Row Identifier</th>
        {% for header in reader.fieldnames %}
            <th>{{ header }}</th>
        {% endfor %}
    </tr>

    {% for row in reader %}
        <tr>
            <td>{{ row|identify }}</td>
            {% for header in reader.fieldnames %}
                <td>{% tag_get row header %}</td>
            {% endfor %}
        </tr>
    {% endfor %}

{% else %}
    {% for row in reader %}
        <tr>
            {% for cell in row %}
                {% if forloop.parentloop.counter == 1 %}
                    <th>{{ cell|human }}
                        {% else %}
                    <td>{{ cell }}</td>
                {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}
{% endif %}