<p>This import script allows you to import your pool of reviewers from a CSV file with the following structure:</p>
<p>Salutation, firstname, middlename, lastname, email_address, department, institution, country, reviewer interests</p>
<p>If the user is not in the system yet, you can toggle the flag below to start the review process automatically for all users.</p>
<div class="callout  bs-callout-warning alert alert-warning" role="alert">Even when using the automatic password reset process, it is important to let your reviewers know ahead of time.</div>
<p>Here is an example line from a dummy csv:<br/>
    <pre>Prof, Martin,Paul,Eve,mpeve@voyager.com,Science,USS Voyager,UK,'Humanities;Open Access'</pre></p>
