{% extends "admin/core/base.html" %}
{% load foundation %}

{% block title %}Imports Plugin{% endblock %}
{% block title-section %}Imports Plugin{% endblock %}
{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url 'imports_index' %}">Import Plugin</a></li>
    <li>Wordpress Posts</li>
{% endblock %}

{% block body %}

    <div class="box">
        <div class="title-area">
            <h2>Import from Wordpress</h2>
        </div>
        <div class="content">
            <form method="POST">
            {% csrf_token %}
            <table class="table">
                <tr>
                    <th><input type="checkbox" onClick="toggle(this)" /></th>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th>Terms</th>
                    <th width="50%">Content</th>
                </tr>
                {% for post in posts %}
                    <tr>
                        <td><input type="checkbox" name="post" value="{{ post.id }}"></td>
                        <td>{{ post.id }}</td>
                        <td>{{ post.title }}</td>
                        <td>{{ post.date }}</td>
                        <td>{{ post.post_status }}</td>
                        <td>{% for term in post.terms %}
                            {{ term.name }}{% endfor %}</td>
                        <td>
                            {{ post.content }}
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <button name="import" class="button">Import</button>
            </form>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script language="JavaScript">
        function toggle(source) {
            checkboxes = document.getElementsByName('post');
            for (var i = 0, n = checkboxes.length; i < n; i++) {
                checkboxes[i].checked = source.checked;
            }
        }
    </script>
{% endblock %}